<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque JM BSB</title>
    <!-- Corrigido o caminho do CSS -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/public/responsive.css">
    <link rel="icon" href="/img/logo2.png" type="image/png">
</head>

<body>

<header class="container-fluid cabeçalho">
    <div>
        <!-- Corrigido o caminho da imagem -->
        <img class="logo1" src="/img/logo_1.png" alt="Logo_Toyota">
    </div>
    
    <nav>
        <a href="#home">Home</a>
        <a href="/Estoque/listaEstoque.html">Estoque</a>
        <a href="#CHECK-LIST">Check-List</a>
    </nav>

    <div class="cabeçalho">
        <!-- Corrigido o caminho da imagem -->
        <img class="logo2" src="/img/logo2.png" alt="Logo_JM">
    </div>
    
    <img class="barra_topo" src="/img/barra_topo.png" alt="barra_topo">
</header>

<main>
    <!-- Conteúdo principal da página -->
</main>

<footer>
    <p class="text-f">&copy; 2024 Estoque JM BRASÍLIA. Todos os direitos reservados. - PF</p>
    <img class="fundo_footer" src="/img/barra_topo.png" alt="barra_topo">
</footer>
<script src="/script.js"></script>
</body>
</html>
